/*############### HTML5 Elements ###############*/

dd { 
	display:none; 
    font-size: .45em;
}

dt {
    font-size: .5em;
}

html { 
	overflow-y: hidden; 
}


/*############### Classes ###############*/

.map {
    height: 70%;
    width: 100%;
}

.sidebar.left {
    width: 350px;
}

.closed { 
	background:red;
}

.open {
	background:green;
}

.search_bar {
	width: 100%;
	font-size: .5em;
	height: 30px;
}

.search_bar_2 {
	width: 160px;
	font-size: 1em;
	height: 30px;
}

.layer {
	font-size: .9em;
	width: 100%;
}

.layer_name {
	float: left;
	width: 270px;
}

.prop_button {
	float: right;
}

.btn {
	background-color: none;
}

.move_it {
	float: left;
	padding-right: 100px;
}

.modal-content {
	padding: 10px;
}

.modal fade bs-example-modal-lg {
	width: auto;
}

.modal-dialog modal-lg {
	width: auto;
}

.modal-content {
	width: auto;
}

.modal-content {
    position: relative;
    overflow-y: auto;
    max-height: 1200px;
	max-width: 1200px;
    padding: 15px;
}

.left {
	text-align: left;
}

.clickable {
	cursor: pointer;
}

.tooltip_image {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}

/*############### IDs ###############*/

#basic_controls {
	margin-top: 20px;
	margin-bottom: 20px;
}

#control_panel {
	position: absolute;
	left: 20px;
	top: 20px;
	height: 43px;
	width: auto;
	background-color: white;
	font-size: .9em;
	padding-left: 4px;
}

#move_left {
	float: right;
	margin-bottom: 20px;
}


#links {
	float: left;
}

#rechts {
	float: right;
	margin-right: 3px;
}

#chart_controls {
	margin-bottom: 10px;
	padding-bottom: 10px;
	height: 33px;
}

#grouped {
	margin-top: 10px;
}

#legend {
	max-height: 400px; /* Fix a height here */
	overflow: auto; /* Optionally you can also use overflow: scroll; */
}

#legend_selection {
	
	font-size: 0.7em !important;
}
